#
# phpBB Imageset Configuration File
#
# @package phpBB3
# @copyright (c) 2006 phpBB Group
# @license http://opensource.org/licenses/gpl-license.php GNU Public License
#
#
# At the left is the name, please do not change this
# At the right the value is entered
# For on/off options the valid values are on, off, 1, 0, true and false
#
# Values get trimmed, if you want to add a space in front or at the end of
# the value, then enclose the value with single or double quotes.
# Single and double quotes do not need to be escaped.
#
#

# General Information about this style
name = ModernUI
copyright = &copy; 2010 Adam Reyher, Titanium Studio
version = 1.0.0-dev

# Images
img_site_logo =
img_poll_left =
img_poll_center =
img_poll_right =
img_icon_friend =
img_icon_foe =

img_forum_link =
img_forum_read = forum-read.png*31*31
img_forum_read_locked =
img_forum_read_subforum =
img_forum_unread = forum-unread.png*31*31
img_forum_unread_locked =
img_forum_unread_subforum =

img_topic_moved =

img_topic_read =
img_topic_read_mine =
img_topic_read_hot =
img_topic_read_hot_mine =
img_topic_read_locked =
img_topic_read_locked_mine =

img_topic_unread =
img_topic_unread_mine =
img_topic_unread_hot =
img_topic_unread_hot_mine =
img_topic_unread_locked =
img_topic_unread_locked_mine =

img_sticky_read =
img_sticky_read_mine =
img_sticky_read_locked =
img_sticky_read_locked_mine =
img_sticky_unread =
img_sticky_unread_mine =
img_sticky_unread_locked =
img_sticky_unread_locked_mine =

img_announce_read =
img_announce_read_mine =
img_announce_read_locked =
img_announce_read_locked_mine =
img_announce_unread =
img_announce_unread_mine =
img_announce_unread_locked =
img_announce_unread_locked_mine =

img_global_read =
img_global_read_mine =
img_global_read_locked =
img_global_read_locked_mine =
img_global_unread =
img_global_unread_mine =
img_global_unread_locked =
img_global_unread_locked_mine =

img_subforum_read =
img_subforum_unread =

img_pm_read =
img_pm_unread =

img_icon_back_top =

img_icon_contact_aim =
img_icon_contact_email =
img_icon_contact_icq =
img_icon_contact_jabber =
img_icon_contact_msnm =

img_icon_contact_www =
img_icon_contact_yahoo =

img_icon_post_delete =

img_icon_post_info =

img_icon_post_report =
img_icon_post_target =
img_icon_post_target_unread =

img_icon_topic_attach =
img_icon_topic_latest =
img_icon_topic_newest =
img_icon_topic_reported =
img_icon_topic_unapproved =

img_icon_user_profile =

img_icon_user_warn =
