<!-- BEGIN forumrow -->
					<!-- IF (forumrow.S_IS_CAT and not forumrow.S_FIRST_ROW) or forumrow.S_NO_CAT  -->
					</div>
					<!-- ENDIF -->
					<!-- IF forumrow.S_IS_CAT or forumrow.S_FIRST_ROW  or forumrow.S_NO_CAT  -->
					<div class="forum-wrap">
						<div class="catheader">
							<div class="forumhead">
								<!-- IF forumrow.S_IS_CAT --><a href="{forumrow.U_VIEWFORUM}" class="alt">{forumrow.FORUM_NAME}</a><!-- ELSE -->{L_FORUM}<!-- ENDIF -->
							</div>
							<div class="topicshead">
								{L_TOPICS}
							</div>
							<div class="postshead">
								{L_POSTS}
							</div>
							<div class="lastposthead">
								{L_LAST_POST}
							</div>
						</div>
						
					<!-- ENDIF -->
					<!-- IF not forumrow.S_IS_CAT -->
							<div class="forums">
							<div class="forum-info" style="background-image: url({forumrow.FORUM_FOLDER_IMG_SRC}); background-repeat: no-repeat; background-position: 15px center;" title="{forumrow.FORUM_FOLDER_IMG_ALT}">
								<!-- IF forumrow.FORUM_IMAGE --><span class="forum-image">{forumrow.FORUM_IMAGE}</span><!-- ENDIF -->
								<span class="forumtitle-text"><a href="{forumrow.U_VIEWFORUM}" class="forumtitle alt">{forumrow.FORUM_NAME}</a></span><br />
								<span class="forumdesc-text">{forumrow.FORUM_DESC}</span>
								<!-- IF forumrow.MODERATORS -->
								<br /><strong>{forumrow.L_MODERATOR_STR}:</strong> {forumrow.MODERATORS}
								<!-- ENDIF -->
								<!-- IF forumrow.SUBFORUMS and forumrow.S_LIST_SUBFORUMS --><br /><strong>{forumrow.L_SUBFORUM_STR}</strong> {forumrow.SUBFORUMS}<!-- ENDIF -->
							</div>
							<div class="forum-div">
								<span>&nbsp;</span>
							</div>
							<!-- IF forumrow.CLICKS -->
							<div class="redirect">
								<span>{L_REDIRECTS}: {forumrow.CLICKS}</span>
							</div>
							<!-- ELSEIF not forumrow.S_IS_LINK -->
							<div class="topics">{forumrow.TOPICS}</div>
							<div class="forum-div">
								<span>&nbsp;</span>
							</div>
							<div class="posts">{forumrow.POSTS}</div>
							<div class="forum-div">
								<span>&nbsp;</span>
							</div>
							<div class="lastpost">
								<span>
								<!-- IF forumrow.U_UNAPPROVED_TOPICS --><a href="{forumrow.U_UNAPPROVED_TOPICS}">{UNAPPROVED_IMG}</a><!-- ENDIF -->
								<!-- IF forumrow.LAST_POST_TIME -->{L_LAST_POST} {L_POST_BY_AUTHOR} {forumrow.LAST_POSTER_FULL}
								<!-- IF not S_IS_BOT --><a href="{forumrow.U_LAST_POST}">{LAST_POST_IMG}</a> <!-- ENDIF --><br />{forumrow.LAST_POST_TIME}<!-- ELSE -->{L_NO_POSTS}<br />&nbsp;<!-- ENDIF -->
								</span>
							</div>
							<!-- ENDIF -->
							<div style="clear:both;"></div>
						</div>
						<!-- ENDIF -->
						<!-- IF forumrow.S_LAST_ROW -->
					</div>
					<!-- ENDIF -->
					<!-- BEGINELSE -->
					<div id="information" class="rules">
					<div><strong>{L_INFORMATION}</strong>: {L_NO_FORUMS}</div>
					</div>
					<!-- END forumrow -->