				<div class="breadcrums breadcrums2">
					<ul>
						<li class="icon-home"><a href="{U_INDEX}"><span class="home">{L_INDEX}</span></a> <!-- BEGIN navlinks --> <strong>‹</strong> <a href="{navlinks.U_VIEW_FORUM}" title="{navlinks.FORUM_NAME}">{navlinks.FORUM_NAME}</a><!-- END navlinks --></li>
					</ul>
					<ul class="right">
						<li><!-- IF U_TEAM --><a href="{U_TEAM}"><span class="team">{L_THE_TEAM}</span></a> <!-- ENDIF --><!-- IF not S_IS_BOT --><a href="{U_DELETE_COOKIES}"><span class="delete">{L_DELETE_COOKIES}</span></a> <!-- ENDIF --><span class="currenttime"><span>{S_TIMEZONE}</span></span></li>
					</ul>
				</div>
			</div> <!-- #main-content -->
		</div> <!-- #wrap -->
		<div id="footer">
			Powered by <a href="http://www.phpbb.com/" rel="external">phpBB</a> © phpBB Group
			<br /><span class="accent">ModernUI</span> design by <a href="http://www.titaniumstudio.com" rel="external">Titanium Studio</a>
			<!-- IF TRANSLATION_INFO --><br />{TRANSLATION_INFO}<!-- ENDIF -->
			<!-- IF DEBUG_OUTPUT --><br />{DEBUG_OUTPUT}<!-- ENDIF -->
			<!-- IF U_ACP --><br /><a href="{U_ACP}" class="acp">{L_ACP}</a><!-- ENDIF -->
		</div>
	</body>
</html>